<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All preferred trips
    </h1>

    <a href="/preferred_trips/new" class="btn btn-block btn-outline-secondary">
      Add a new preferred trip
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "preferred_trip_templates/preferred_trips_search_form" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: "preferred_trip_templates/all_photos_map" %>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Origin
        </th>

        <th>
          Destination
        </th>

        <th>
          Earliest departure time
        </th>

        <th>
          Latest departure time
        </th>

        <th>
          Date
        </th>

        <th>
          Max radius
        </th>

        <th>
          User
        </th>

        <th>
          Join
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @preferred_trips.each do |preferred_trip| %>
      <tr>
        <td>
          <%= preferred_trip.id %>
        </td>

        <td>
          <%= preferred_trip.origin %>
        </td>

        <td>
          <%= preferred_trip.destination %>
        </td>

        <td>
          <%= preferred_trip.earliest_departure_time %>
        </td>

        <td>
          <%= preferred_trip.latest_departure_time %>
        </td>

        <td>
          <%= preferred_trip.date %>
        </td>

        <td>
          <%= preferred_trip.max_radius %>
        </td>

        <td>
          <% if preferred_trip.user.present? %>
            <a href="/users/<%= preferred_trip.user.id %>">
              <%= preferred_trip.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= preferred_trip.join %>
        </td>

        <td>
          <%= time_ago_in_words(preferred_trip.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(preferred_trip.updated_at) %> ago
        </td>

        <td>
          <a href="/preferred_trips/<%= preferred_trip.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @preferred_trips, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
