<% if @preferred_trip.present? %>
  <% if @preferred_trip.errors.any? %>
    <% @preferred_trip.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new preferred trip
</h1>


<hr>

<form action="/create_preferred_trip" method="post">

  <div class="form-group">
    <label for="origin">
      Origin
    </label>

    <input type="text" id="origin" name="origin" class="form-control" value="<%= @preferred_trip.origin %>">
  </div>

  <div class="form-group">
    <label for="destination">
      Destination
    </label>

    <input type="text" id="destination" name="destination" class="form-control" value="<%= @preferred_trip.destination %>">
  </div>

  <div class="form-group">
    <label for="earliest_departure_time">
      Earliest departure time
    </label>

    <input type="text" id="earliest_departure_time" name="earliest_departure_time" class="form-control" value="<%= @preferred_trip.earliest_departure_time %>">
  </div>

  <div class="form-group">
    <label for="latest_departure_time">
      Latest departure time
    </label>

    <input type="text" id="latest_departure_time" name="latest_departure_time" class="form-control" value="<%= @preferred_trip.latest_departure_time %>">
  </div>

  <div class="form-group">
    <label for="date">
      Date
    </label>

    <input type="text" id="date" name="date" class="form-control" value="<%= @preferred_trip.date %>">
  </div>

  <div class="form-group">
    <label for="max_radius">
      Max radius
    </label>

    <input type="text" id="max_radius" name="max_radius" class="form-control" value="<%= @preferred_trip.max_radius %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-check">
    <input type="hidden" value="0" name="join">
    <input id="join" class="form-check-input" name="join" type="checkbox" <%= "checked" if @preferred_trip.join %>>
    <label for="join" class="form-check-label">
      Join
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create preferred trip
  </button>
</form>

<hr>

<a href="/preferred_trips">
  Go back
</a>
