<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Preferred trip #<%= @preferred_trip.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/preferred_trips" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @preferred_trip.user %>
          <a href="/preferred_trips/<%= @preferred_trip.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit preferred_trip
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @preferred_trip.user %>
          <a href="/delete_preferred_trip/<%= @preferred_trip.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete preferred_trip
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Origin
      </dt>
      <dd>
        <div>
          <%= render partial: "preferred_trip_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Destination
      </dt>
      <dd>
        <div>
          <%= render partial: "preferred_trip_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Earliest departure time
      </dt>
      <dd>
        <%= @preferred_trip.earliest_departure_time %>
      </dd>

      <dt>
        Latest departure time
      </dt>
      <dd>
        <%= @preferred_trip.latest_departure_time %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @preferred_trip.date %>
      </dd>

      <dt>
        Max radius
      </dt>
      <dd>
        <%= @preferred_trip.max_radius %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @preferred_trip.user.present? %>
          <a href="/users/<%= @preferred_trip.user_id %>">
            <%= @preferred_trip.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Join
      </dt>
      <dd>
        <%= @preferred_trip.join %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@preferred_trip.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@preferred_trip.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "preferred_trip_templates/preferred_trip_shared_rides" %>
  </div>
</div>
