<% if @shared_ride.errors.any? %>
  <% @shared_ride.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit shared ride #<%= @shared_ride.id %>
</h1>

<hr>

<form action="/update_shared_ride/<%= @shared_ride.id %>" method="post">


  <div class="form-group">
    <label for="preferred_trip_id">
      Preferred trip
    </label>

    <%= select_tag(:preferred_trip_id, options_from_collection_for_select(PreferredTrip.all, :id, :created_at, @shared_ride.preferred_trip_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="carpool_group_id">
      Carpool group
    </label>

    <%= select_tag(:carpool_group_id, options_from_collection_for_select(CarpoolGroup.all, :id, :created_at, @shared_ride.carpool_group_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update shared ride
  </button>
</form>

<hr>

<a href="/shared_rides">
  Go back
</a>
