<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Carpool group #<%= @carpool_group.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/carpool_groups" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/carpool_groups/<%= @carpool_group.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit carpool group
        </a>
      </div>

      <div class="col">
        <a href="/delete_carpool_group/<%= @carpool_group.id %>" class="btn btn-block btn-outline-secondary">
          Delete carpool group
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@carpool_group.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@carpool_group.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "carpool_group_templates/carpool_group_shared_rides" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "carpool_group_templates/carpool_group_users" %>
  </div>
</div>
